// main: ../style.less

/**********************************************************************/
/* SIDEBAR */
/**********************************************************************/


/**********************************************************************/
/* POST LIST */
/**********************************************************************/
.post-list {

	.post { margin-bottom: 35px; }

	.post-thumbnail img { max-width: 100%; height: auto; }

	.meta {

		font-style: italic; color: #666; margin: 10px 0;

		span			{ margin: 0 10px 0 0 }
	}

	.pagination { margin: 0 0 35px; font-size: 18px;

		ul	{ padding: 0; margin: 0; }
		li	{ display: inline-block; margin: 0 10px 0 0; }
	}
}

/**********************************************************************/
/* POST SINGLE */
/**********************************************************************/
