// main: ../style.less

.single-course {

    .header {

        .container {

            .main-nav-wrap ul li.menu-item-24 {
                > a { color: @orange;

                    &:after { background-color: @orange; }
                }
            }
        }
    }

    .single-header {
        width: 100%; height: 340px; position: relative;
        background-position: center; background-size: cover; background-repeat: no-repeat;

        .caption {
            position: absolute; bottom: 70px; left: 0; width: 100%; z-index: 30; padding: 0 15px;

            .inner {
                display: table; max-width: 1000px; width: 100%; margin: 0 auto;

                h1 { display: inline-block; font-size: 25px; .uppercase; .letter-s; line-height: 1; padding: 0 0 15px 0; margin: 0 0 15px 0; border-bottom: 3px solid #fff; }
            }
        }
    }

    .course-nav {
        width: 100%; background-color: #fff; display: flex; align-items: center; height: 80px;


        .inner { display: flex; margin: 0 auto; align-items: center; }

        a {
            display: block; .brandon; .uppercase; font-size: 14px; line-height: 1; letter-spacing: 0.34em; color: #000; position: relative; margin: 0 40px;

            &:after { .transition; content:""; background-color: transparent; height: 1px; width: 100%; position: absolute; bottom: -10px; left: 0; }

            &:hover, &.active { color: @orange;

                &:after { background-color: @orange; }
            }
        }
    }

    .content {
        max-width: 1000px; margin: 75px auto 0 auto; min-height: 500px;

        .weekly, .crash, .mock {
            margin: 0 0 75px 0;

            h3 { margin: 0 0 40px 0; }

            .schedule {
                margin: 0 0 15px 0;

                h6 span { font-style: italic; }
                p { margin: 0; }

                &:last-of-type { margin: 0; }
            }
        }

        .section {


            &.active { display: block; }
        }

        .gform_wrapper {

            ul { margin: 0; }
        }
    }
}

/**********************************************************************/
/* 992px */
/**********************************************************************/

@media ( max-width: @screen-desktop ) {

    .single-course {

        .single-header .caption {
            bottom: 15px;
        }
    }
}

@media ( max-width: @screen-tablet ) {

    .single-course {

        .course-nav {
            height: auto;

            .inner { display: block; }
            a { margin: 20px 15px 30px 15px; display: block; }
        }
    }
}
