// main: ../style.less

.brandon {
    font-family: 'brandon_grotesque_regularRg';
    font-weight: normal;
    font-style: normal;

    &.black { font-family: 'brandon_grotesqueblack'; font-weight: normal; }
}

@font-face {
    font-family: 'brandon_grotesqueblack';
    src: url('../fonts/brandon/brandon_blk-webfont.woff2') format('woff2'),
         url('../fonts/brandon/brandon_blk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('../fonts/brandon/brandon_reg-webfont.woff2') format('woff2'),
         url('../fonts/brandon/brandon_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
