// main: ../style.less

/**********************************************************************/
/* FOOTER */
/**********************************************************************/
.footer {

    .white-block {
        max-width: 810px; margin: 75px auto; background-color: #fff; padding: 50px 40px;

        .gform_wrapper {

            h3 {  }
        }
    }

    .copyright {
        background-color: #000;

        .container {
            margin: 0; line-height: 1; .brandon; .uppercase; .letter-s; font-size: 10px; color: #fff;
            display: flex; align-items: center; margin: 0 auto; padding: 50px 15px;
            a { margin-left: auto; display: inline-block; color: #fff; }
            a:hover { color: @orange; }
        }
    }
}

/**********************************************************************/
/* 992px */
/**********************************************************************/

@media ( max-width: @screen-desktop ) {

    .footer {

        .container {

            .logo-footer { position: relative; left: inherit; top: inherit; display: block; transform: none; margin: 0 auto 30px auto; }
            .copyright { display: block; float: left; width: 100%; text-align: center;

                span, a { display: block; font-size: 14px; }
                span { margin: 0 0 10px 0;  }
            }
        }
    }
}


@media ( max-width: @screen-phone ) {

    .footer {

        .container {

            .copyright {

                span, a { font-size: 12px; }
            }
        }
    }
}
