// main: ../style.less

/**********************************************************************/
/* GENERAL */
/**********************************************************************/
body 	{ .brandon; font-size: 14px; color: #000; background-color: @beige; -webkit-font-smoothing: antialiased; text-shadow: 1px 1px 1px rgba(0,0,0,0.004); }

a,
input[type="submit"]	{ transition:  all 0.3s ease; }
a, a:hover, a:focus		{ color: @primary; text-decoration: none; }

* 						{ outline: none; }
a:active 				{ outline: none; }
:-moz-any-link:focus	{ outline: none; }

h1,h2,h3,h4 { .brandon.black; .uppercase; .letter-s;  }

h1, h2	{ .brandon.black; font-size: 33px; letter-spacing: 0.2em; margin: 0 0 15px 0; color: #fff; .uppercase; }
h2  { font-size: 25px; line-height: 35px; }
h3	{ display: inline-block; font-size: 18px; line-height: 1; margin: 0 0 20px 0; padding: 0 0 14px 0; border-bottom: 3px solid #000; }
h4	{ .brandon.black; font-size: 18px; letter-spacing: 0.2em; margin: 30px 0 10px 0; color: @dark; .uppercase;  }
h5	{ .brandon.black; font-size: 14px; .uppercase; letter-spacing: 0.05em; line-height: 1; margin: 0 0 20px 0; }
h6	{ .brandon.black; font-size: 14px; letter-spacing: 0.05em; line-height: 1; margin: 0 0 3px 0; }

h5,h6 {

	span { text-transform: none; .brandon; }
}


.content {
	p, ul, ol	{ line-height: 24px; }
}

.button-cta {
	display: table; margin: 20px 0 0 0;
	background-color: @orange; color: #fff; padding: 12px 25px; font-size: 12px;
	border: 4px solid darken(@orange, 15%); .uppercase; .brandon; letter-spacing: 0.2em;

	&:hover, &:focus {
		background-color: darken(@orange, 15%); color: #fff;
	}
}

::selection			{ background-color: @orange; color: #fff; }
::-moz-selection	{ background-color: @orange; color: #fff; }
::-webkit-scrollbar			{ width: 10px; }
::-webkit-scrollbar-track	{ background-color: #dfdfdf; }
::-webkit-scrollbar-thumb	{ background-color: @orange; outline: none; }

.page-wrapper { overflow: hidden; }

.container-fluid { max-width: 1200px; }

.white-block {
	padding: 50px; background-color: #fff;
}

.newsletter-section {
	padding: 130px 15px;
	background-position: center; background-repeat: no-repeat; background-size: cover;

	.container {
		text-align: center;
		h2 { margin: 0 0 40px 0; }
		h4 { font-family: 'Old Standard TT', serif; color: #fff; font-size: 30px; line-height: 1; text-transform: none; .letter-s; margin: 0 0 40px 0; }

		.gform_wrapper {
			display: inline-block;

			form { display: flex; align-items: center; }
			.gform_body, .gform_footer, li { width: auto; }
			.gform_body { display: inline-flex; }
			.gform_footer { margin: 0; }

			::-webkit-input-placeholder	{ color: #cbcbcb; line-height: 36px;  }
			:-moz-placeholder 			{ color: #cbcbcb; line-height: 36px;  } /* Firefox 18- */
			::-moz-placeholder 			{ color: #cbcbcb; line-height: 36px;  } /* Firefox 19+ */
			:-ms-input-placeholder 		{ color: #cbcbcb; line-height: 36px;  }

			ul { margin: 0; }
			ul li { padding-right: 30px; margin: 0; float: left; }
			ul li input { line-height: 36px; height: 36px; border: none;  }
		}
	}
}

.course-list {
	margin: 10px -15px 0 -15px;

	a {
		display: block; .brandon; font-size: 18px; .uppercase; .letter-s; line-height: 1; position: relative; margin: 0 0 15px 0; padding: 0 0 10px 0; color: #000;

		&:after { .transition; content:""; background-color: #000; height: 2px; width: 100%; position: absolute; bottom: 0px; left: 0; }

		&:hover {
			color: @orange;

			&:after { background-color: @orange; }
		}
	}
}
