// main: ../style.less

.gform_wrapper {

	.gform_body { margin: 0; display: inline-block; width: 100%; }

	ul	{ padding: 0; margin: 0 -15px; display: inline-block; }
	li	{ display: inline-block; width: 100%; list-style-type: none; padding: 0; margin: 0 0 10px 0; }

	select,
	textarea,
	select,
	input[type="tel"],
	input[type="text"],
	input[type="email"],
	input[type="password"]	{
		width: 100%; padding: 0 10px; margin: 0; font-size: 18px; text-transform: uppercase; float: left; transition: 0.3s all ease;
		border: 1px solid @grey; line-height: 50px; height: 50px; color: @dark; .brandon.black; .letter-s;

		&:hover, &:focus { border: 1px solid @orange; }
	}

	select { height: 50px;

		option { line-height: 50px; border-top: 1px solid #d4d4d4; }
	}

	textarea { height: 200px; max-width: 100%; max-height: 200px; }

	::-webkit-input-placeholder	{ color: #cbcbcb; line-height: 50px;  }
	:-moz-placeholder 			{ color: #cbcbcb; line-height: 50px;  } /* Firefox 18- */
	::-moz-placeholder 			{ color: #cbcbcb; line-height: 50px;  } /* Firefox 19+ */
	:-ms-input-placeholder 		{ color: #cbcbcb; line-height: 50px;  }

	.gform_validation_container,
	.gfield_label { display: none; }

	.gform_hidden { display: none; }

	.validation_error	{ background: #8b0000; padding: 15px; color: #fff; font-style: italic; margin-bottom: 15px; }
	.validation_message	{ color: #8b0000; font-style: italic; }
	.gfield_error		{

		select, textarea, input { border-color: #8b0000; }
	}

	.gform_footer { display: inline-block; width: 100%; clear: both; text-align: center; margin: -10px 0 0 0;

		.gform_button {
			display: table; width: 100%;
			background-color: #000; border: none; color: #fff; padding: 8px 25px; font-size: 14px;
			.uppercase; .brandon.black; .letter-s;

			&:hover {
				background-color: @orange;
			}
		}
	}
}


.gform_wrapper.two-column_wrapper {
	max-width: 100%;
}

.gform_wrapper.two-column_wrapper ul.gform_fields,
.gform_wrapper.two-column_wrapper ul.gform_column li.gsection:first-child {
	display: none;
}

.gform_wrapper.two-column_wrapper ul.gform_fields.gform_column {
	display: inline-block;
	float: left;
}

.gform_wrapper.two-column_wrapper ul.one-half {
	width: calc(~"50%");
	margin: 0;
}

.gform_wrapper.two-column_wrapper ul.one-half.first {
	padding-right: 20px;
}

.gform_wrapper.two-column_wrapper .gform_footer {
	width: 50%; margin-left: 50%;
}


@media ( max-width: 767px ) {

    .main {

		.newsletter-section .container .gform_wrapper form {
			display: block;

			ul li { width: 100%; margin: 0 0 10px 0; padding: 0; }
			.gform_footer { width: 100%; margin: -10px 0 0 0; }
		}
		.gform_wrapper li { display: inline-block; width: 100%; margin: 0 0 10px 0; }
		.gform_wrapper .gform_hidden { display: none; }
	}

	.gform_wrapper.two-column_wrapper .gsection { display: none; }
	.gform_wrapper.two-column_wrapper ul.one-half.first { padding: 0; }
	.gform_wrapper.two-column_wrapper ul.gform_fields.gform_column { width: 100%; }
}
