// main: ../style.less


// .admin-bar {
//
// 	#wpadminbar 		{ position: fixed; }
//
// 	.mobile-header,
// 	.header  			{ top: 32px; }
// }

/**********************************************************************/
/* HEADER */
/**********************************************************************/

.header {
	position: relative; z-index: 30;

	.container {
		position: relative; display: flex; align-items: center;
		height: 260px;

		#courses {
			position: absolute; top: 0; left: 0; width: 100%; padding: 60px 0 0 0;
			background-color: #fff; visibility: hidden; opacity: 0; .transition;


			.menu-item {
				padding: 0 0 20px 0; position: relative;

				> a { .brandon.black; font-size: 11px; .letter-s; line-height: 1; padding: 0 40px; position: relative; }
				> a span { visibility: hidden; opacity: 0; .transition; position: absolute; right: 30px; top: -1px; }
				a:after { display: none; }

				.sub-sub {
					visibility: hidden; opacity: 0; .transition;
					position: absolute; left: 100%; top: -15px; padding: 15px;
					left: calc(~"100% - 1px");
					background-color: #fff; min-width: 175px;

					a { display: block; font-size: 10px; margin: 0 0 10px 0; }
					a:last-child { margin: 0; }
				}

				&.sub-active {

					> a { color: @orange; }

					> a span { opacity: 1; visibility: visible; }

					.sub-sub { opacity: 1; visibility: visible; }
				}
			}
		}

		.logo {
			display: inline-block; flex-shrink: 0;

			span {
				display: table; flex-grow: 0; color: #000;
				font-size: 40px; line-height: 55px; letter-spacing: 0.34em; .brandon.black; .uppercase; text-align: right;

				strong { display: block; color: @orange; .brandon; }
			}
		}
		.mobile-nav-wrap	{ display: none; }

		.main-nav-wrap {
			margin-left: auto; flex-shrink: 0;

			ul {
				padding: 0; margin: 0 auto; list-style-type: none;

				li {
					display: inline-block; padding: 15px 40px; position: relative;

					.course-listing { display: none; }

					a {
						display: block; .brandon; .uppercase; font-size: 14px; line-height: 1; letter-spacing: 0.34em; color: #000; position: relative; z-index: 33;

						&:after { .transition; content:""; background-color: transparent; height: 1px; width: 100%; position: absolute; bottom: -10px; left: 0; z-index: 35; }

						&:hover { color: @orange;

							&:after { background-color: @orange; }
						}
					}

					&.current-menu-item  > a { color: @orange;

						&:after { background-color: @orange; }
					}

					&.menu-active {

						> a { color: #000; }
						> a:after { background-color: #000; }

						#courses {
							visibility: visible ; opacity: 1;

						}
					}
				}
			}
		}
	}
}
