// main: ../style.less

.cf:before,
.cf:after	{ content:""; display:table; }
.cf:after	{ clear:both; }
.cf 	 	{ zoom:1; }

.clearboth 		{ display: block; margin: 0; padding: 0; clear: both; }
.alignleft 		{ float: left; margin-right: 10px; }
.alignright 	{ float: right; margin-left: 10px; }
.aligncenter	{ margin-left: auto; margin-right: auto; display: block; }

.wpb_row.no-btm-margin,
.no-btm-margin,
.wpb_wrapper .no-btm-margin     { margin-bottom: 0; }
.small-btm-margin,
.wpb_wrapper .small-btm-margin  { margin-bottom: 10px; }
.medium-btm-margin,
.wpb_wrapper .medium-btm-margin { margin-bottom: 20px; }

// METTRE LES CLASSES RÉUTILISABLES ICI AVEC DES INDICATIONS POUR L'INTÉGRATEUR

.uppercase { text-transform: uppercase; }

.transition {
    transition:  all 0.3s ease;

    &.slow { transition:  all 0.7s ease-in-out; }
}

.letter-s {
    letter-spacing: 0.34em;
}
