// main: ../style.less

.page {


    .slider-wrap {
    display: flex; position: relative;

    .slick-list { width: 100%; }

        .slider {
            position: relative; float: left; z-index: 1; width: 100%;
            height: 570px; overflow: hidden;
            //height: calc(~"100vh + 115px");/

            .slick-list, .slick-track { min-width: 100%; }

            .slick-list, .slick-track, .container { height: 100%; }

            .slide {
                float: left; width: 100%; display: none; height: 100%; display: table; align-items: center;
                background-position: center; background-repeat: no-repeat; background-size: cover;

                .container {
                    position: relative;

                    .caption {
                        position: absolute; bottom: 70px; left: 0; width: 100%; z-index: 30; padding: 0 15px;

                        .inner {
                            display: inline-block; max-width: 555px;

                            h1 { display: inline-block; font-size: 25px; .uppercase; .letter-s; line-height: 1; padding: 0 0 15px 0; margin: 0 0 15px 0; border-bottom: 3px solid #fff; }
                            p { line-height: 16px; letter-spacing: 0.05em; color: #fff; }
                        }
                    }
                }
            }

            .slick-dots {
                position: absolute; max-width: 1170px; width: 100%; left: 50%; transform: translateX(-50%);
                bottom: 35px; padding: 0 15px; margin: 0; list-style-type: none;
                text-align: right;

                li {
                    height: 7px; margin: 0 0 25px 0;

                    button { text-indent: -9999px; width: 100px; height: 7px; border: 1px solid #fff; background-color: #fff; .transition; box-shadow: none; }

                    &.slick-active {

                        button { background-color: transparent; }
                    }
                }
            }
        }

        &.small {

            .slider { height: 350px; }
        }
    }

   .page-layouts {
       margin: 75px 0 0 0;

        .bg-bloc {
           background-position: center; background-repeat: no-repeat;
           min-height: 22vw; display: flex; align-items: center;

           .bloc-c {
                padding: 100px 15px; margin: 0 -15px;

                h1,h2 { .brandon.black; .uppercase; letter-spacing: 0.2em; font-size: 18px; color: #fff; margin: 0 0 20px 0;

                    &.left   { text-align: left; }
                    &.center { text-align: center; }
                    &.right  { text-align: right; }

                    &.black { color: @dark; }
                    &.white { color: #fff; }
                    &.grey { color: @grey; }
                }

                p { margin: 0 0 20px 0; font-size: 17px; line-height: 34px; }

                &.col-sm-offset-3  { margin-left: 25%; }
                &.col-sm-offset-6 { margin-left: 50%; }
            }
        }

        .blocs-buttons {
            padding: 100px 0 65px 0;

            .bloc-bg {
                background-position: center; background-repeat: no-repeat;
                display: flex; align-items: center;
                width: 100%; height: 29vw; margin: 0 0 35px 0;

                a {
                    display: table; margin: 0 auto; text-align: center; padding: 1vw 3vw;
                    min-width: 65%; line-height: 30px; letter-spacing: 0.2em; .brandon.black; .uppercase; font-size: 1.33vw; font-size: 2.4vmin;

                    &:hover {
                        background-color: darken(@orange,0) !important; color: #fff !important;
                    }
                }
            }
        }

        .bloc-banner {
            padding: 150px 0 40px 0;

            figure img { max-width: 100%; height: auto; }

            .content {
                padding: 60px 80px 110px 80px; border-bottom: 2px solid @grey;

                p { .brandon; font-size: 25px; line-height: 34px; margin: 0 0 20px 0; }
            }
        }

        .bloc-cta {
            padding: 40px 0;

            .inner {
                display: flex; align-items: center;

                figure {
                    background-position: center; background-repeat: no-repeat;
                    width: 25vw; height: 25vw;
                    border: 10px solid @grey; border-radius: 50%;
                }

                .content {
                    padding-left: 90px;

                    p { font-size: 50px; .brandon.black; line-height: 68px; color: @grey; }
                    p strong { color: @orange; }
                }
            }

            .cta-link {
                display: flex; width: 100%; background-color: @grey;
                height: 190px; align-items: center; margin: -45px 0 0 0;

                a {
                    display: table; margin: 0 auto; font-size: 30px; line-height: 1;
                    .brandon.black; .uppercase; color: #fff; letter-spacing: 0.32em; padding: 15px 30px; border: 2px solid #fff; border-radius: 10px;

                    &:hover {
                        background-color: darken(@orange, 15%);
                    }
                }
            }
        }

        .white-block {
            max-width: 810px; margin: 75px auto; padding: 0; background: none;

            .flex-col {
                display: flex; position: relative; min-height: 405px;

                .text-c { width: 100%; flex-shrink: 0; background-color: #fff; padding: 50px 40px; }

                figure {
                    position: absolute; width: 350px; height: 280px; top: 50%;
                    background-position: center; background-size: cover; background-repeat: no-repeat;
                }

                &.figure-in {

                    .text-c { width: calc(~"100% - 110px"); }

                    &.left-pos {
                        flex-direction: row-reverse;

                        .text-c .inner { padding-left: 240px; }

                        figure { left: 0; transform: translateY(-50%); }
                    }

                    &.right-pos {

                        .text-c .inner { padding-right: 240px; }

                        figure { right: 0; transform: translateY(-50%); }
                    }
                }
            }
        }

        .halfblocks {
            max-width: 1170px; margin: 0 auto 75px auto; display: flex;

            h6 { .brandon.black; font-size: 14px; .uppercase; letter-spacing: 0.05em; line-height: 1; margin: 15px 0 0 0; }

            > div { display: flex; flex: 1; padding: 0 15px; }

            .inner { background-color: #fff; padding: 50px 40px; width: 100%; }
        }
   }

   &.page-template-contact {

       .page-layouts { margin: 0; }

       .gmap-wrapper {
          display: table; height: 575px; width: 100%; border: none;
          background-position: center; background-size: cover; background-repeat: no-repeat;
          padding: 0; position: relative; overflow: hidden;

          .inner {
             display: table-cell; vertical-align: bottom;

             .desc { font-size: 15px; letter-spacing: 0.2em; line-height: 20px; color: #fff; max-width: 610px; }
          }

          .infowindow {
              position: absolute; right: 50%; transform: translateX(50%);
              background-color: #fff; color: #000; padding: 30px 50px;
              visibility: hidden; .transition.slow; bottom: -100%;

              h3 { .brandon.black; font-size: 25px; .letter-s; margin: 0 0 15px 0; color: #000; .uppercase; }
              p { .brandon; font-size: 18px; margin: 0 0 15px 0; color: #000; }
              .button-cta { margin: 20px 0 0 0; padding: 12px 25px; font-size: 14px; background-color: #333; border-color: #000; }
              .button-cta:hover { background-color: #000; }

              &.appear { visibility: visible; bottom: 40px; }
          }

          #map_canvas { width: 100%; height: 100%;  }
       }


   }

   &.page-template-thank-you {

       .slider-wrap {

           .slider .slide .container .caption .inner {

               h1 { line-height: 1.2; }
               p { font-size: 16px;  }
           }
       }
   }
}


/**********************************************************************/
/* 1440px */
/**********************************************************************/

@media ( max-width: 1440px ) {

    .page {

        .slider-wrap {

            .slider { height: 450px; }
        }

        .gmap-wrapper {
            height: 45vw;

            .infowindow {
                padding: 20px 40px;

                h3 { font-size: 18px; }
                p { font-size: 13px; }
                .button-cta { font-size: 12px; }
            }
        }
    }
}

/**********************************************************************/
/* 1200px */
/**********************************************************************/

@media ( max-width: 1440px ) {

    .page {

        .slider-wrap {

            .slider { height: 350px;

                .slick-dots { bottom: 15px; }

                .slide .container .caption { bottom: 15px; }
            }
        }
    }
}

/**********************************************************************/
/* 992px */
/**********************************************************************/

@media ( max-width: @screen-desktop ) {

    .page .page-header, .page .gmap-wrapper {
        margin: 0;
    }

    .page {

        .slider-wrap {

            .slider { height: 350px; }
        }

        .page-layouts {

             .bg-bloc {

                .bloc-c {
                     padding: 40px 15px; margin: 0 -15px;

                     h1,h2 { line-height: 1.3;  }

                     p { margin: 0 0 14px 0; font-size: 14px; line-height: 25px; }
                 }
            }

            .blocs-buttons {
                padding: 50px 0 30px 0;

                .bloc-bg { height: 35vw; }
            }

            .bloc-cta {

                .inner {
                    padding: 0 30px;

                    figure { width: 40vw; height: 40vw; padding: 0; }

                    .content {
                        padding-left: 30px;

                        p { font-size: 36px; line-height: 40px; }
                    }
                }

                .cta-link a { font-size: 20px; }
            }

            .bloc-banner {

                .content {
                    padding: 40px 60px 60px 60px;

                    p { font-size: 18px; line-height: 25px; }
                }
            }
        }
    }

    .white-block {

        .gform_wrapper {
            margin: 50px 0 0 0;
        }
    }
}

@media ( max-width: @screen-tablet ) {


    .page {

        .page-layouts {

            .blocs-buttons {


                .bloc-bg { height: 55vw; }
                .bloc-bg a { font-size: 14px; padding: 12px 25px; }
            }

            .bloc-cta {

                .inner {
                    display: block;

                    figure { width: 50vw; height: 50vw; padding: 0; margin: 0 auto 30px auto; }

                    .content { margin: 0 0 80px 0; text-align: center; }
                }
            }
        }
    }
}

@media ( max-width: @screen-phone ) {


    .page {

        .slider-wrap {

            .slider .slide .container .caption .inner p { display: none; }   
        }

        .page-layouts {


            .bloc-cta {

                .inner {
                    display: block;

                    figure { width: 80vw; height: 80vw; padding: 0; margin: 0 auto; }
                }
            }
        }

        .gmap-wrapper {

            .infowindow {
                padding: 10px 20px;

                h3 { font-size: 15px; }
                p { font-size: 12px; }
                .button-cta { font-size: 10px; }
            }
        }
    }
}
