// main: ../style.less

/*
/* Utiliser @primary, @secondary, etc. pour les couleurs.
/* Utiliser @grey, @darkgray, etc. pour les gris.
/* Utiliser @serif, @sansserif, etc. pour les fonts
*/

@primary: #00a7ca;
@dark: #474747;

@grey: #353738;
@orange: #ca642a;

@beige: #edebe9;


@screen-grid: 1200px;
@screen-desktop: 1024px;
